
body {
    background-color: #f9f9f9;
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

md-sidenav {
    padding-left: 20px;
    width: 200px;
    max-width: 200px;
    min-width: 200px;
}

md-sidenav.md-locked-open {
    width: 200px;
    max-width: 200px;
    min-width: 200px;
}
#new-product {
    width: 300px;
}
.driver-img {
    width: 100px;
    height: 100px;
}
.space {
    height: 10px;
}
md-content.md-default-theme {
    background-color: #eee;
}

.view-padding {
    padding: 30px 10% 50px 10%;
}

.center {
    text-align: center;
}

.card {
    background-color: white;
    width: 250px;
    height: 300px;
    margin: 10px 15px 10px 15px;
    display: inline-block;
    text-align: center;
}
.card img {
    padding-top: 10px;
    max-width: 100%;
    max-height: 200px;
}
.product-card-content {
    padding: 0px 20px 30px;
    background-color: white;
}
.product-img {
    max-height: 300px;
    max-width: 100%;
}
.angular-google-map-container {
    height: 675px;
}

.no-padding {
    padding: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.align-right {
    position: absolute;
    top: 20px;
    right: 20px;
}