<!--<md-toolbar>-->
    <!--<div class="md-toolbar-tools">-->
        <!--<md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">-->
            <!--<md-icon aria-label="Menu" md-svg-icon="/assets/images/menu.svg"></md-icon>-->
        <!--</md-button>-->
        <!--<h2 class="md-flex">About</h2>-->
    <!--</div>-->
<!--</md-toolbar>-->
<div class="view-padding">
    <div style="background-color: white" class="md-whiteframe-z1">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="md-flex">About</h2>
            </div>
        </md-toolbar>
        <div style="padding: 5px 20px 5px 20px;">
            <p>YourMarket is a proof of concept of a no risk white-label delivery solution for small businesses that can be added on top of existing websites to simulate a in-house delivery system.</p>
        </div>
    </div>
</div>