<div class="md-padding">

    <!--Map Card-->
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Delivery Map</h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <p>Imagine a beautiful mapbox with courier locations here...</p>
        </md-card-content>
    </md-card>


    <!--Deliveries Card-->
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Deliveries</h2>
            </div>
        </md-toolbar>

        <md-card-content style="padding-bottom: 0px;">
            <md-list style="padding-bottom: 0px;">
                <md-list-item class="md-3-line" ng-repeat="delivery in delivery.data" ng-if="$index < 7">
                    <img ng-if="delivery.courier.img_href != undefined" ng-src="{{delivery.courier.img_href}}" alt="image of {{delivery.courier.name}}" class="md-avatar">
                    <div class="md-list-item-text">
                        <h3>{{delivery.id}}</h3>
                        <div ng-if="delivery.courier.name != undefined">
                            <h4>Driver: {{delivery.courier.name}}</h4>
                        </div>
                        <div ng-if="delivery.courier.name == undefined && !delivery.complete">
                            <h4>Pending...</h4>
                        </div>
                        <div ng-if="delivery.complete">
                            <h4>Delivered</h4>
                        </div>
                        <p>Manifest: {{delivery.manifest.description}}</p>
                    </div>
                    <md-divider inset ng-if="$index < 6"></md-divider>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>


    <!--New Product Card-->
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Add Product</h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <md-input-container>
                <label>Category</label>
                <input type="text" ng-model="category">
            </md-input-container>
            <md-input-container>
                <label>Name</label>
                <input type="text" ng-model="name">
            </md-input-container>
            <md-input-container>
                <label>Description</label>
                <input type="text" ng-model="description">
            </md-input-container>
            <md-input-container>
                <label>Image src</label>
                <input type="text" ng-model="img_src">
            </md-input-container>
            <md-input-container>
                <label>Price</label>
                <input type="text" ng-model="price">
            </md-input-container>
            <div class="button raised" ng-click="newProduct()">
                <div class="center" fit>Create</div>
                <paper-ripple fit></paper-ripple>
            </div>
        </md-card-content>
    </md-card>
</div>
