<md-content layout="column" flex class="md-padding">
    <h1 class="md-title">Admin Panel</h1>
        <md-list>
            <md-subheader class="md-no-sticky">Active Deliveries</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="delivery in delivery.data">
                <img ng-if="delivery.courier.img_href != undefined" ng-src="{{delivery.courier.img_href}}" alt="image of {{delivery.courier.name}}" class="md-avatar">
                <div class="md-list-item-text">
                    <h3>{{delivery.id}}</h3>
                    <h4>{{delivery.courier.name}}</h4>
                    <h4 ng-if="delivery.courier.name == undefined">Pending...</h4>
                    <p>{{delivery.manifest.description}}</p>
                </div>
                <md-divider inset></md-divider>
            </md-list-item>
        </md-list>

    <div id="new-product">
        <p>Add Product</p>

        <md-input-container>
            <label>Category</label>
            <input type="text" ng-model="category">
        </md-input-container>
        <md-input-container>
            <label>Name</label>
            <input type="text" ng-model="name">
        </md-input-container>
        <md-input-container>
            <label>Description</label>
            <input type="text" ng-model="description">
        </md-input-container>
        <md-input-container>
            <label>Price</label>
            <input type="text" ng-model="price">
        </md-input-container>
        <div class="button raised" ng-click="newProduct()">
            <div class="center" fit>Create</div>
            <paper-ripple fit></paper-ripple>
        </div>
    </div>
</md-content>
