<md-content layout="column" flex class="md-padding">
    <h1 class="md-title">Login</h1>
    <form action="/login" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"/>
        </div>
        <div>
            <input type="submit" value="Login"/>
            <a href="#register">Become a Vendor</a>
        </div>
    </form>

</md-content>