<div class="md-padding">
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="md-flex">About</h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <p>This application could help farmers markets, community supported agriculture programs, or local stores be integrated into a delivery network.</p>
            <p>YourMarket is a proof of concept of a no risk white-label delivery solution for small businesses that can be added on top of existing websites to simulate a in-house delivery system.</p>
        </md-card-content>
    </md-card>
</div>