<div class="md-padding">
    <div layout="column" layout-gt-md="row">
        <md-card flex-gt-md>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Login or Register</h2>
                </div>
            </md-toolbar>
            <md-card-content>
                <md-input-container>
                    <label>Username</label>
                    <input type="text" ng-model="input.username">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="input.password">
                </md-input-container>
                <md-button ng-click="login(input.username, input.password)" class="md-raised">
                    Login
                </md-button>
                <md-button ng-click="register(input.username, input.password)" class="md-raised">
                    Register
                </md-button>
            </md-card-content>
        </md-card>
    </div>
</div>